# My Data Science Notebook

## Introduction

Welcome to my data science notebook! In this notebook, I will explore various data science concepts, languages, and tools. Let's dive in!

## Data Science Languages

- Python
- R
- Julia
- SQL

## Data Science Tools

| Category       | Tools           |
|----------------|-----------------|
| Data Cleaning  | OpenRefine, Trifacta, pandas      |
| Data Analysis  | R, Python, SQL  |
| Visualization  | Matplotlib, ggplot, Tableau      |
| Machine Learning | scikit-learn, TensorFlow, Keras |

## Arithmetic Expression Examples

In this section, we will explore some basic arithmetic expressions using Python.

In [2]:
# Multiply and add numbers
num1 = 5
num2 = 10

# Multiply the numbers
result_multiply = num1 * num2
print("Multiplication Result:", result_multiply)

# Add the numbers
result_add = num1 + num2
print("Addition Result:", result_add)

Multiplication Result: 50
Addition Result: 15

In [3]:
# Convert minutes to hours
minutes = 120
hours = minutes / 60

print("Minutes:", minutes)
print("Hours:", hours)

Minutes: 120
Hours: 2.0

## Objectives

- Explore data science languages and libraries
- Understand basic arithmetic expressions
- Perform calculations and conversions
- Gain familiarity with Jupyter Notebook

## Author

John Doe